<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jeremy Schomery</string>
	<key>Builder Version</key>
	<string>10600.6.3</string>
	<key>CFBundleDisplayName</key>
	<string>Dictionary Anywhere</string>
	<key>CFBundleIdentifier</key>
	<string>com.add0n.dictionary</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>5242880</real>
		<key>Global Page</key>
		<string>lib/safari/background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>data/content_script/safari/safari.js</string>
				<string>data/content_script/inject.js</string>
				<string>data/panel/inject.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>data/content_script/inject.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Dictionary Anywhere provides access to a floating multilingual Google Translate panel on any webpage</string>
	<key>DeveloperIdentifier</key>
	<string>L62F677Y54</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://add0n.com/dictionary.html</string>
</dict>
</plist>
