@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-name: bounceIn;
  -webkit-animation-name: bounceIn;
}

.itanywhere-activator {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 1000;
  background-color: rgba(0, 0, 255, 0.2);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../icons/activator.png'), url('chrome-extension://__MSG_@@extension_id__/data/icons/activator.png');
  cursor: pointer;
  display: none;
}
.itanywhere-panel {
  position: absolute;
  width: 270px;
  height: 500px;
  z-index: 1000;
  border: solid 1px #bbbbbb;
  box-shadow: 2px 2px 10px #bbbbbb;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
}
.itanywhere-loading {
  background-image: url('../icons/loading.gif'), url('chrome-extension://__MSG_@@extension_id__/data/icons/loading.gif');
}
