body {
  overflow: hidden;
  background-color: transparent !important;
}
div[class=gp-footer] {
  display: none;
}
.result-dict-wrapper {
  box-shadow: none;
}
.dictionary {
  border-bottom-width: 0;
}
.gb_cd {
  display: none;
}
.gt-lc-mobile {
  box-shadow: none !important;
}
.share-panel {
  display: none;
}
