body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #fff;
  color: #4d5156;
  margin: 10px;
}
select,
button,
input[type=submit],
input[type=button] {
  height: 24px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
}
select,
button,
textarea,
input {
  border: solid 1px rgba(0, 0, 0, 0.25);
}
input[type=button]:disabled {
  opacity: 0.5;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
}
textarea,
input[type=text],
input[type=number] {
  padding: 5px;
  outline: none;
}
textarea:focus,
input[type=text]:focus,
input[type=number]:focus {
  background-color: #e5f8ff;
}
a,
a:visited {
  color: #07c;
}
label {
  display: block;
  padding: 3px 0;
}
input[type=number] {
  width: 60px;
  outline: none;
}
label {
  white-space: nowrap;
}
label p {
  font-size: 80%;
  color: #bfbfbf;
  margin: 5px 10px;
}
textarea {
  margin-top: 5px;
  width: 100%;
  height: 100px;
}
hr {
  border: none;
  border-top: dashed 1px #ccc;
}
ol {
  margin: 0;
  padding: 0 15px;
  font-size: 90%;
  color: #555;
}
th {
  position: relative;
  font-weight: normal;
}
th span {
  padding: 2px 10px;
  background-color: #eee;
}
th::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.6em;
  border-top: 1px dotted black;
  z-index: -1;
}
